.center-container {
    z-index: 2;
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: none;
}

.center-block {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}